<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>PhD in Computer Science</h1>
            <span>University of Tartu</span>
            <span><address>Estonia</address><time>2015 to Present</time></span>
        </header>
        <p>
            <em>Topic: Understanding, Predicting, and Controlling Deviance in Business Processes.</em>
        </p>
    </article>
    <article>
        <header>
            <h1>MSc in Software Engineering, 
		<em>cum laude</em>
	    </h1>
            <span>University of Tartu</span>
            <span><address>Estonia</address><time>2012 to 2014</time></span>
        </header>
        <p>
            <em>Thesis: Community-Based Prediction of Activity Decay in a Social Network.</em>
        </p>
    </article>
    <article>
        <header>
            <h1>BA in Law</h1>
            <span>University of Tartu</span>
            <span><address>Estonia</address><time>2009 to 2012</time></span>
        </header>
    </article>
</section>
