<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Data Analyst</h1>
            <span><address>University of Tartu</address><time>January 2018 to Present</time></span>
        </header>
        <p>Building a forecasting model for a queue management service provider.</p>
    </article>
    <article>
        <header>
            <h1>Research Engineer</h1>
            <span><address>STACC</address><time>August 2013 to June 2014, February 2015 to January 2017</time></span>
        </header>
        <p>During my time at STACC (short for Software Technology and Applications Competence Centre, which is an Estonian applied research organization), I got the opportunity to work with various datasets from 7 different companies and organizations. The projects included building a classification model based on the social network data of Skype, an anomaly detection system based on web traffic data from the Estonian public e-services platform, a deep learning based model for satellite-based mowing detection, recommender systems for marketing campaigns and web stores.</p>
    </article>
    <article>
        <header>
            <h1>Teaching Assistant</h1>
            <span><address>University Tartu</address><time>2015</time></span>
        </header>
        <p>Carrying out practice sessions in Data Mining and Advanced Algorithmics courses.</p>
    </article>
    <article>
        <header>
            <h1>Data Scientist</h1>
            <span><address>Teleport, Inc</address><time>August 2014 to March 2015</time></span>
        </header>
        <p>Gathering life quality data from different regions in the world and constructing life quality indexes.</p>
    </article>
</section>
