<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>AI Research Engineer</h1>
            <span><address>Bloomberg LP</address><time>November 2021 to Present</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Machine Learning Scientist</h1>
            <span><address>Booking.com</address><time>March 2019 to November 2021</time></span>
        </header>
<p>Measuring the effects of and increasing the impact of marketing interventions using machine learning, causal inference, contextual bandits, and online experimentation. Led development and open-sourcing of UpliftML - a Python library for scalable uplift modeling. Led research efforts on quantifying and reducing uncertainty in the evaluation of uplift models and in incrementality measurement tasks in general. Teacher of an internal training of Causal Machine Learning. Presented tutorials on Causal Inference and Uplift modeling at WSDM’21 and WebConf’21.</p>
    </article>
    <article>
        <header>
            <h1>Data Scientist</h1>
            <span><address>University of Tartu</address><time>January 2018 to October 2018</time></span>
        </header>
        <p>Building forecasting models for a queue management system.</p>
    </article>
    <article>
        <header>
            <h1>Research Engineer</h1>
            <span><address>STACC</address><time>August 2013 to June 2014, February 2015 to January 2017</time></span>
        </header>
        <p>During my time at STACC (short for Software Technology and Applications Competence Centre, which is an Estonian applied research organization), I worked with various datasets from different companies and organizations. The projects included social network analysis, anomaly detection on web traffic data, multivariate timeseries classification using deep neural networks, recommender systems for marketing campaigns and web stores.</p>
    </article>
    <article>
        <header>
            <h1>Teaching Assistant</h1>
            <span><address>University of Tartu</address><time>2015</time></span>
        </header>
        <p>Carried out practice sessions in Data Mining and Advanced Algorithmics courses.</p>
    </article>
    <article>
        <header>
            <h1>Data Scientist</h1>
            <span><address>Teleport, Inc</address><time>August 2014 to March 2015</time></span>
        </header>
        <p>Gathered life quality data from different regions in the world and constructed life quality indexes.</p>
    </article>

    <article>
        <header>
            <h1>Junior Java Developer</h1>
            <span><address>Nortal</address><time>June 2013 to August 2013</time></span>
        </header>
        <p>Internship in a Telecom project.</p>
    </article>
</section>
