<section class="thirteen columns">
    <h1>Hobbies</h1>
    <article>
<p>During my free time I like to travel, read, and play bridge. I've participated in the European Bridge Team Championships as part of the Estonian national team (women 2014 & 2016, mixed 2019).</p>
<!--        <p>During my free time I like to <div class="inner">travel<img src="{{ site.baseurl }}static/img/travel.jpg" alt=""></div>, <div class="inner">play bridge<img src="{{ site.baseurl }}static/img/travel.jpg" alt=""></div>, and <div class="inner">dance flamenco<img src="{{ site.baseurl }}static/img/flamenco.jpg" alt=""></div>. In years 2014 and 2016 I participated in the European Bridge Team Championships as part of the Estonian women team.</p>
-->
    </article>
</section>
