<section class="thirteen columns">
    <h1>Projects</h1>
    <article>
        <header>
            <h1><a href="https://github.com/irhete/recsys-challenge-2018">RecSys Challenge 2018</a></h1>
        </header>
        <p>
            A music recommender system for automatic playlist continuation. The final submission developed for the <a href="https://recsys-challenge.spotify.com/">RecSys Challenge 2018</a>.
        </p>
    </article>
    <article>
        <header>
            <h1><a href="https://github.com/annitrolla/car-insurance-tool">Automatic license plate detection</a>
	    </h1>
        </header>
        <p>
            A tool that applies automatic license plate detection to images and videos of cars and, consequently, queries the Dutch Vehicle Authority (RDW) to check if a car with the found license plate number actually exists.
        </p>
    </article>
    <article>
        <header>
            <h1><a href="http://www.win.tue.nl/bpi/lib/exe/fetch.php?media=2015:bpic2015_paper_3.pdf">BPI Challenge 2015</a></h1>
        </header>
 	<p>
Analysing the building permit application process in Dutch municipalities using various process mining and data mining techniques. The work received the prize of the best student report at the 
<a href="http://www.win.tue.nl/bpi/doku.php?id=2015:challenge&redirect=1id=2015/challenge">Business Process Intelligence Challenge 2015</a>.
	</p>
    </article>
    
</section>

