<section class="thirteen columns">
    <h1>Publications</h1>
    <article>
        <header>
            <h1> 
		<a href=https://doi.org/10.1007/s10618-018-0575-9>Temporal Stability in Predictive Process Monitoring</a> 
	    </h1> 
            <span>Irene Teinemaa, Marlon Dumas, Anna Leontjeva, Fabrizio Maria Maggi</span>
        </header>
        <p>
            Data Mining and Knowledge Discovery (2018), special track of ECML PKDD
        </p>
    </article>
    <article>
        <header>
            <h1><a href=https://arxiv.org/abs/1803.08706>Alarm-Based Prescriptive Process Monitoring</a></h1>
            <span>Irene Teinemaa, Niek Tax, Massimiliano de Leoni, Marlon Dumas, Fabrizio Maria Maggi</span>
        </header>
        <p>
            Business Process Management Forum (2018)
        </p>
    </article>
    <article>
        <header>
            <h1><a href=https://arxiv.org/abs/1707.06766>Outcome-Oriented Predictive Process Monitoring: Review and Benchmark</a></h1>
            <span>Irene Teinemaa, Marlon Dumas, Marcello La Rosa, Fabrizio Maria Maggi</span>
        </header>
        <p>
            
        </p>
    </article>
    <article>
        <header>
            <h1><a href=https://link.springer.com/chapter/10.1007/978-3-319-45348-4_23>Predictive Business Process Monitoring with Structured and Unstructured Data</a></h1>
            <span>Irene Teinemaa, Marlon Dumas, Fabrizio Maria Maggi, Chiara Di Francescomarino</span>
        </header>
        <p>International Conference on Business Process Management (2016)</p>
    </article>
    <article>
        <header>
            <h1><a href=https://ieeexplore.ieee.org/document/7403525/>Community-Based Prediction of Activity Change in Skype</a></h1>
            <span>Irene Teinemaa, Anna Leontjeva, Marlon Dumas, Riivo Kikas</span>
        </header>
        <p>IEEE/ACM International Conference on Advances in Social Networks Analysis and Mining (2015)</p>
    </article>
</section>

