<section class="thirteen columns">
    <h1>Technical Skills</h1>
    <article>
        <header>
            <h1>Programming languages</h1>
        </header>
        <p>
         Python, Java, R
        
	<header>
            <h1>Tools and libraries</h1>
        </header>
        <p>
           PySpark, H2O, Hadoop, SQL, scikit-learn, pandas, Keras, PyTorch
        <p>
	<header>
            <h1>Techniques</h1>
        </header>
        <p>
            machine learning, deep learning, causal inference, contextual bandits, online experimentation, incrementality measurement, recommender systems, sequence classification
        <p>

<!--
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>HTML/CSS3</em>, <em>Javascript</em>
        </p>
-->
    </article>
</section>
