<section class="thirteen columns">
    <h1>Tutorials</h1>
    <article>
        <header>
            <h1><a href="https://booking.ai/uplift-modeling-f9759e3fb51e">Uplift Modeling: from Causal Inference to Personalization (WebConf 2021)</a></h1>
        </header>
    </article>
        <article>
        <header>
            <h1><a href="https://booking.ai/personalization-in-practice-2bb4bc680eb3">Personalization in Practice: Methods and Applications (WSDM 2021)</a></h1>
        </header>
    </article>
</section>

